
	/* General styles */
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
      background-color: #222233;
		min-width:600px;    	/* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
		font-size:55px;
		font-family: Arial;
		color: white;
	}
	a {
      text-decoration: none;
      color: #eeeeff;
	}
   a img {
     border: 0px;
   }
	a:hover {
		color:#fff;
		text-decoration:none;
	}
   a:visited {
     color: #eeeeff;
   }
	h1, h2, h3 {
		margin:.8em 0 .2em 0;
		padding:0;
	}
	p {
		margin:.4em 0 .8em 0;
		padding:0;
	}
	img {
		margin:10px 0 5px;
	}
	/* Header styles */
	#header {
		clear:both;
		float:left;
		width:90%;
		font-style: italic;
		text-align: center;
	}
	
	#clock {
	    clear: none;
	    float: right;
	    padding-right: 5px;
	}
	
	#header {
		border-bottom:1px solid #000;
	}
	#header p,
	#header h1,
	#header h2 {
		padding:.4em 15px 0 15px;
		margin:0;
	}
	#header ul {
		clear:left;
		float:left;
		width:100%;
		list-style:none;
		margin:10px 0 0 0;
		padding:0;
	}
	#header ul li {
		display:inline;
		list-style:none;
		margin:0;
		padding:0;
	}
	#header ul li a {
		display:block;
		float:left;
		margin:0 0 0 1px;
		padding:3px 10px;
		text-align:center;
		text-decoration:none;
		position:relative;
		left:15px;
		line-height:1.3em;
	}
	#header ul li a:hover {
		color:#fff;
	}
	#header ul li a.active,
	#header ul li a.active:hover {
		color:#fff;
		font-weight:bold;
	}
	#header ul li a span {
		display:block;
	}
	/* 'widths' sub menu */
	#layoutdims {
		clear:both;
		border-top:4px solid #000;
		margin:0;
		padding:6px 15px !important;
		text-align:right;
	}
	/* column container */
	.colmask {
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 1em 0;
		overflow:hidden;
	}
	/* 2 Column (double page) settings */
	.doublepage {
		background:#223333;		/* right column background colour */
	}
	.doublepage .colleft {
		right:50%;			/* right column width */
		background:#332233;		/* left column background colour */
	}
	.doublepage .col1 {
		width:46%;			/* left column content width (column width minus left and right padding) */
		left:52%;			/* right column width plus left column left padding */
	}
	.doublepage .col2 {
		width:46%;			/* right column content width (column width minus left and right padding) */
		left:56%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
		border-top:1px solid #000;
		font-size: 20px;
		color: #888888
	}
	#footer p {
		padding: 10px 150px 2px 150px;
		margin:0;
	}

.direction {
    font-size: 50px;
    text-align: center;
}

.subhead {
	font-size: 17px;
	color: #888888;
}

.arrival {
	font-size: 25px;
	color: #888888;
}

.coming-soon {
}

.coming-soon .route-label {
   font-size: 4.5em;
}

.route-label {
	font-size: 3.25em;
	color: white;
}

.destination-abbrev {
	font-size: 1.5em;
	color: white;
	font-style: italic;
}

.destination-text {
	font-size: .75em;
	color: #dddddd;
	display: none;
}

.minutes {
	font-size: 3.25em;
	color: white;
}

.coming-soon .minutes {
   font-size: 4.5em;
	font-style: italic;
}


#powered-by {
  font-size: 17px;
  float: left;
  padding: 4px;
}

#contact-container {
  padding: 4px;
  font-size: 17px;
}

#me {
  float: right;
  padding: 4px;
  font-size: 17px;
}

